html {
  font-size: 10px;
}

body {
  padding: 0;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @extend %font-primary;
  @include font(2rem, 2.3rem, 500);
  color: $color-primary;
}

h1 {
  margin-bottom: 0;
  @include font(2.4rem, 3rem);
  color: $color-title;
}

h2 {
  @include font(2rem, 2.6rem);
  color: $color-subtitle;
}
