$color-primary: #FBFBFB;
$color-background: linear-gradient(166.34deg, #373737 0%, #252628 22.9%, #000309 100%);
$color-background-additional: linear-gradient(244.38deg, #42869B 8.14%, #2A7DA1 27.9%, #224E91 56.94%, #00123F 84.11%);
$color-key: rgba(5, 5, 5, 0.3);
$color-previous-calc: rgba(251, 251, 251, 0.5);

$color-key-hover: rgba(5, 5, 5, 0.4);