.calculator {
    width: 300px;
    padding: 0 27px 0;
    background: $color-background;
    backdrop-filter: blur(102px);
    border-radius: 30px;
    @extend %transition-theme-switch;
}

.calculator-wrapper_dark {
    background: $color-background-dark-theme;
}

.calculator__display {
    min-height: 227px;
    padding: 23px 14px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tools {
    display: flex;
    justify-content: space-between;
}

.calculations {
    min-height: 66px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
}

.calculations__previous {
    width: 218px; 
    height: 100px;
    display: flex;
    justify-content: flex-end;
    @include font(1.8rem, 2.0rem, 400);
    color: $color-previous-calc;
    text-align: end;
    overflow: auto;
    @extend %custom-scroll;
}

.calculations__current {
    height: 60px;
    @include font(3.3rem, 3.6rem, 500);
    color: $color-current-calc;
    text-align: end;
    @extend %transition-theme-switch;
}

.current-calculation_dark {
    color: $color-current-calc-dark-theme;
}

.calculator__keys {
    min-height: 368px;
    padding: 24px 0 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key {
    width: 48px;
    height: 48px;
    padding: .5rem .5rem;
    background: $color-key-primary;
    box-shadow: 0px 4px 4px $color-key-shadow;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .15s;
    &:hover,
    &.selected {
        background: $color-primary;
        color: $color-key-primary;
    }
}

.AllClear,
.Backspace,
.sign {
    background: $color-key-background-first;
    color: $color-key-first;
    &:hover, 
    &.selected {
        background: $color-key-first;
        color: $color-key-background-first;
    }
}

.Slash,
.Mult,
.Minus,
.Plus,
.Equal {
    background: $color-key-background-second;
    color: $color-key-second;
    &:hover,
    &.selected {
        background: $color-key-second;
        color: $color-key-background-second;
    }
}
