.calculator {
    width: 322px;
    height: 652px;
    margin: 0 auto;
    background: $color-background;
    border-radius: 30px;
}

.calculation-area {
    min-height: 266px;
    padding: 52px 26px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tools {
    display: flex;
    justify-content: center;
}

.calculation-screen {
    min-height: 66px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-calculation {
    @include font(1.8rem, 2.3rem, 500);
    color: $color-previous-calc;
}

.current-calculation {
    @include font(3.0rem, 3.0rem);
}

.functional-area {
    min-height: 386px;
    padding: 20px 26px 38px;
    background: $color-background-additional;
    border-radius: 25px 25px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key {
    width: 54px;
    height: 54px;
    padding: .5rem .5rem;
    background: $color-key;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background: $color-key-hover;
    }
}
